.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

}


.modal-content {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
  height: 90%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

