
<form  #orederForm="ngForm" class="footer-form" (ngSubmit)="sendData(orederForm)" novalidate>

  <input
    type="text"
    [(ngModel)]="loginForm.name"
    #name = "ngModel"
    name = name
    class="footer-input"
    placeholder="Ваше имя"
    required
    (keyup)="inputCheck($event)"
  >
  <input
    type="text"
    [(ngModel)]="loginForm.address"
    #address = "ngModel"
    name = address
    required
    class="footer-input" placeholder="Адрес доставки"
  >
  <input
    type="text"
    class="footer-input"
    placeholder="Телефон"
    [(ngModel)]="loginForm.phone"
    #phone = "ngModel"
    name = phone
    required
    pattern="[0-9]{11}"
  >
  <button class="my-button" [disabled]="(name.invalid && name.touched)
          || (address.invalid && address.touched)
          || (phone.invalid && phone.touched)"
          type="submit" >Оформить заказ</button>
</form>
